#alemania {
    background-image: linear-gradient(black 33%, red 33%, red 66.66%, yellow 66.66%);
    color: #fff;
}

#colombia {
    background-image: linear-gradient(yellow 33%, blue 33%, blue 66.66%, red 66.66%);
}

#polonia {
    background-image: linear-gradient(white 50%, red 50%, red);
}

#ucrania {
    background-image: linear-gradient(blue 50%, yellow 50%);
}

#rusia {
    background-image: linear-gradient(white 33.33%, blue 33%, blue 66.66%, red 33%)
}

#holanda {
    background-image: linear-gradient(red 33.33%, white .33%, white 66.66%, blue 33.33%);
}

#hungria{
    background-image: linear-gradient(red 33.33%,white .33%, white 66.66%, green 33.33% );
}

#austria{
    background-image: linear-gradient(red 33.33%,white .33%, white 66.66%, red 33.33% ); 
}
#egipto{
    background-image: linear-gradient(red 33.33%,white .33%, white 66.66%, black 33.33% ); 
}

#bulgaria{
    background-image: linear-gradient(white 33.33%,green .33%, green 66.66%, red 33.33% );  
}