

nav ul li {
    margin: 10px;
    flex: 1 1 45%;  
}

nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 25px; 
    background: linear-gradient(to right, #007bff, #66a3ff); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s ease-in-out; 

nav ul li a:hover {
    background-color: white;
}
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #66a3ff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgb(7, 7, 51);
    color: white;
    position: sticky;
}

header .logo {
    display: block;
    margin: 0 auto 15px;
    border-radius: 25px;
    position:  sticky;
}

h1 {
    margin: 0;
    font-size: 2em;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:rgb(7, 7, 51) ;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

