#japon{
  background-image: radial-gradient(circle,red 33%, white 33% ,white);  
}

#banglades{
    background-image: radial-gradient(circle,rgb(167, 0, 0) 33%, green 33% ,green);  
}
#palaos{
    background-image: radial-gradient(circle,yellow 33%, rgb(30, 150, 206) 33% ,rgb(21, 144, 216));  
}


